
.title {
  text-align: center !important;
  margin: 25px;
}

#imgTargetDesign {
  display: block;
  margin: 0 auto;
}

.prompt {
  margin-bottom: 20px !important;
  font-size: 18px !important;
}

.info {
  font-size: 15px;
  font-style: italic;
}

.textFeedback {
  vertical-align: top;
}

p {
  margin: 35px 0px;
  font-size: 20px !important;
}

input {
  display: inline-block !important;
}

label {
  display: inline-block;
  margin: 0px 10px;
}